body {
  background-color: black; }

.App-logo {
  border-radius: 5px; }

.App-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: #acf;
  padding: 20px;
  color: black; }

#left-head {
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 50px; }

#right-head {
  padding-left: 50px;
  width: 40%; }

.App-title {
  font-size: 1.5em; }

#color-div {
  background-color: #acf;
  font-size: large;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  margin: 50px auto;
  padding: 5%; }

a {
  color: #cc2244; }

input {
  font-size: 1.5em;
  padding: 5px; }
